{%- assign limit = section.settings.products | times: section.settings.rows -%}
{%- assign totalProducts = collection.products.size -%}
<div class="collection-template" data-section-id="{{ section.id }}" data-section-type="collection-template">

  <div class="page-width">
    <div class="grid text-center">
      <div class="grid__item medium-up--ten-twelfths medium-up--push-one-twelfth">
        <header class="section-header">
          <h1 class="section-header__title h2">{{ collection.title }}</h1>
          {% if collection.description != blank %}
            <div class="section-header__description rte">
              {{ collection.description }}
            </div>
          {% endif %}
        </header>


        <div class="gallery gallery-1">
            <div class="image image-1">
              <img class="gallery-image" src="{{'web-may-tea-shirt.jpg' | asset_url }}">
            </div>
            <div class="image image-2">
              <img class="gallery-image landscape" src="{{'web-shirt-clothesline.jpg' | asset_url }}">              
            </div>
            <div class="text-block">this is a  block of text this is a  block of text this is a 
              block of text this is a  block of text </div>
        </div>
        <div class="gallery-2">
            <div class="image full-width-image">
              <img class="gallery-image landscape" src="{{'2880-tote-prog.jpg' | asset_url }}">   
            </div>
        </div>
        <div class="gallery gallery-3">
            <div class="image image-1">
              <img class="gallery-image landscape" src="{{'web-eric-shirt.jpg' | asset_url }}">
            </div>
            <div class="image image-2">
              <img class="gallery-image landscape" src="{{'web-purple-flowers-tote.jpg' | asset_url }}">
            </div>
        </div>
        <div class="gallery gallery-4">
            <div class="image image-1"></div>
            <div class="image image-2"></div>
            <div class="image image-3">
              <img class="gallery-image" src="{{'Sherry-Tote-Petals-640-511.gif' | asset_url }}">
            </div>
        </div>

      
 
      
      </div>
    </div>

</div>

{% schema %}
{
  "name": "Collection",
  "settings": [
    {
      "type": "select",
      "id": "products",
      "label": "Products per row",
      "default": "2",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        }
      ]
    },
    {
      "type": "select",
      "id": "rows",
      "label": "Rows per page",
      "default": "4",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "product_tags_enable",
      "label": "Enable tag filtering"
    },
    {
      "type": "checkbox",
      "id": "product_sorting_enable",
      "label": "Enable collection sorting"
    },
    {
      "type": "header",
      "content": "Collection image"
    },
    {
      "type": "checkbox",
      "id": "collection_hero_image",
      "label": "Show collection image"
    },
    {
      "type": "checkbox",
      "id": "collection_hero_image_parallax",
      "label": "Show collection image parallax animation"
    },
    {
      "type": "header",
      "content": "Products"
    },
    {
      "type": "select",
      "id": "grid_style",
      "label": "Grid style",
      "default": "collage",
      "options": [
        {
          "value": "collage",
          "label": "Collage"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_spacing",
      "label": "Enable image spacing"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show product vendor",
      "default": true
    }
  ]
}
{% endschema %}
